version: '3'
services:
  app:
    image: node:12
    volumes:
      - .:/app/
    ports:
      - 3000:3000
    depends_on:
      - postgres
    working_dir: /app
    command: npm run start:debug
  postgres:
    image: postgres
    restart: always
    environment:
      POSTGRES_USERNAME: postgres
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: database
    volumes:
      - postgres:/var/lib/postgresql/data
    ports:
      - 5432:5432

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.5.0
    environment:
      - bootstrap.memory_lock=true
      - discovery.type=single-node
      - transport.host=0.0.0.0
      - 'ES_JAVA_OPTS=-Xms512m -Xmx512m'
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - elasticsearch:/usr/share/elasticsearch/data
    ports:
      - 9200:9200
      - 9300:9300

  logstash:
    image: docker.elastic.co/logstash/logstash:7.5.0
    depends_on:
      - elasticsearch
    environment:
      LS_JAVA_OPTS: '-Xmx256m -Xms256m'
      ELASTICSEARCH_HOST_PORT: elasticsearch:9200
    ports:
      - 5000:5000
      - 9600:9600
    volumes:
      - logstash:/usr/share/logstash/data

  apm:
    image: docker.elastic.co/apm/apm-server:7.5.0
    ports:
      - 8200:8200
      - 8201:8200
    environment:
      - ELASTICSEARCH_HOST_PORT=elasticsearch:9200
    volumes:
      - apm:/usr/share/apm-server
    depends_on:
      - elasticsearch
      - kibana

  kibana:
    image: docker.elastic.co/kibana/kibana:7.5.0
    depends_on:
      - logstash
    volumes:
      - kibana:/usr/share/kibana/data
    environment:
      ELASTICSEARCH_HOST_PORT: elasticsearch:9200
    ports:
      - 5601:5601

volumes:
  postgres:
  elasticsearch:
  kibana:
  logstash:
  apm:
